<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta name="renderer" content="webkit"/>
<meta name="force-rendering" content="webkit"/>
<script>/*@cc_on window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/</script>
<title></title>
<link type="text/css" rel="stylesheet" href="css/style.css" />
<script src="js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="js/banner.js"></script>
<script type="text/javascript" src="js/tab.js"></script>
<script type="text/javascript">
	var pageNum = 1;
	var pages = -1;
	var action = "/getMovies?pageNum=";
	$.get(
					action+pageNum,
					function(data) {
						if(data.success==true){
							pages = data.message.pages;
						var old = '';
						for(i in data.message.list){
							var item = data.message.list[i];
							if((item.movieRate + '').indexOf('.') == -1){
								item.movieRate+='.0';
							}
							old += '<a href="today_list.html?movieId='
							+ item.movieId
							+'" type="" about="" class="aui-flex b-line"><div class="aui-film-img"><img src="'
							+ item.movieImage
							+ '" alt=""></div><div class="aui-flex-box"><h1>'
							+ item.movieName
							+'</h1><h2>豆瓣评分 <em>'
							+ item.movieRate
							+'</em></h2><h3>导演：'
							+ item.director
							+'</h3><h3>主演：'
							+ item.actor
							+'</h3></div><div class="aui-film-button"><button>购票</button></div></a>';
						}
						if(data.message.pages==1){
			
						}else{
							old+='<h3>&ensp;</h3><center><div class="scott"><span class="disabled"></span><span><a href="javascript:void(0);" onclick="firstPage()">首页</a></span>';
							if(data.message.hasPreviousPage){
								old+='<span><span> <a href="javascript:void(0);" onclick="previousPage()">上一页&ensp;</a></span></span>'
							}
							if(data.message.hasNextPage){
								old+='<span><span> <a href="javascript:void(0);" onclick="nextPage()">下一页&ensp;</a></span></span>'
							}
							old+='<span><a href="javascript:void(0);" onclick="lastPage()">尾页</a></span></div></center><center><div><span>当前第&ensp;'
							+ pageNum
							+'&ensp;页，共&ensp;'
							+ pages
							+'&ensp;页</span></div>';
						}
							$("#onMovies").html(old);	
						}else{
							alert('err back')
						}
					});
	function firstPage(){
		pageNum=1;
		$.get(
				action+pageNum,
				function(data) {
					if(data.success==true){
						pages = data.message.pages;
					var old = '';
					for(i in data.message.list){
						var item = data.message.list[i];
						if((item.movieRate + '').indexOf('.') == -1){
							item.movieRate+='.0';
						}
						old += '<a href="today_list.html?movieId='
						+ item.movieId
						+'" type="" about="" class="aui-flex b-line"><div class="aui-film-img"><img src="'
						+ item.movieImage
						+ '" alt=""></div><div class="aui-flex-box"><h1>'
						+ item.movieName
						+'</h1><h2>豆瓣评分 <em>'
						+ item.movieRate
						+'</em></h2><h3>导演：'
						+ item.director
						+'</h3><h3>主演：'
						+ item.actor
						+'</h3></div><div class="aui-film-button"><button>购票</button></div></a>';
					}
					if(data.message.pages==1){
		
					}else{
						old+='<h3>&ensp;</h3><center><div class="scott"><span class="disabled"></span><span><a href="javascript:void(0);" onclick="firstPage()">首页</a></span>';
						if(data.message.hasPreviousPage){
							old+='<span><span> <a href="javascript:void(0);" onclick="previousPage()">上一页&ensp;</a></span></span>'
						}
						if(data.message.hasNextPage){
							old+='<span><span> <a href="javascript:void(0);" onclick="nextPage()">下一页&ensp;</a></span></span>'
						}
						old+='<span><a href="javascript:void(0);" onclick="lastPage()">尾页</a></span></div></center><center><div><span>当前第&ensp;'
						+ pageNum
						+'&ensp;页，共&ensp;'
						+ pages
						+'&ensp;页</span></div>';
					}
						$("#onMovies").html(old);	
					}else{
						alert('err back')
					}
				});
	}
	function previousPage(){
		pageNum-=1;
		$.get(
				action+pageNum,
				function(data) {
					if(data.success==true){
						pages = data.message.pages;
					var old = '';
					for(i in data.message.list){
						var item = data.message.list[i];
						if((item.movieRate + '').indexOf('.') == -1){
							item.movieRate+='.0';
						}
						old += '<a href="today_list.html?movieId='
						+ item.movieId
						+'" type="" about="" class="aui-flex b-line"><div class="aui-film-img"><img src="'
						+ item.movieImage
						+ '" alt=""></div><div class="aui-flex-box"><h1>'
						+ item.movieName
						+'</h1><h2>豆瓣评分 <em>'
						+ item.movieRate
						+'</em></h2><h3>导演：'
						+ item.director
						+'</h3><h3>主演：'
						+ item.actor
						+'</h3></div><div class="aui-film-button"><button>购票</button></div></a>';
					}
					if(data.message.pages==1){
		
					}else{
						old+='<h3>&ensp;</h3><center><div class="scott"><span class="disabled"></span><span><a href="javascript:void(0);" onclick="firstPage()">首页</a></span>';
						if(data.message.hasPreviousPage){
							old+='<span><span> <a href="javascript:void(0);" onclick="previousPage()">上一页&ensp;</a></span></span>'
						}
						if(data.message.hasNextPage){
							old+='<span><span> <a href="javascript:void(0);" onclick="nextPage()">下一页&ensp;</a></span></span>'
						}
						old+='<span><a href="javascript:void(0);" onclick="lastPage()">尾页</a></span></div></center><center><div><span>当前第&ensp;'
						+ pageNum
						+'&ensp;页，共&ensp;'
						+ pages
						+'&ensp;页</span></div>';
					}
						$("#onMovies").html(old);		
					}else{
						alert('err back')
					}
				});
	}
	function nextPage(){
		pageNum+=1;
		$.get(
				action+pageNum,
				function(data) {
					if(data.success==true){
						pages = data.message.pages;
					var old = '';
					for(i in data.message.list){
						var item = data.message.list[i];
						if((item.movieRate + '').indexOf('.') == -1){
							item.movieRate+='.0';
						}
						old += '<a href="today_list.html?movieId='
						+ item.movieId
						+'" type="" about="" class="aui-flex b-line"><div class="aui-film-img"><img src="'
						+ item.movieImage
						+ '" alt=""></div><div class="aui-flex-box"><h1>'
						+ item.movieName
						+'</h1><h2>豆瓣评分 <em>'
						+ item.movieRate
						+'</em></h2><h3>导演：'
						+ item.director
						+'</h3><h3>主演：'
						+ item.actor
						+'</h3></div><div class="aui-film-button"><button>购票</button></div></a>';
					}
					if(data.message.pages==1){
		
					}else{
						old+='<h3>&ensp;</h3><center><div class="scott"><span class="disabled"></span><span><a href="javascript:void(0);" onclick="firstPage()">首页</a></span>';
						if(data.message.hasPreviousPage){
							old+='<span><span> <a href="javascript:void(0);" onclick="previousPage()">上一页&ensp;</a></span></span>'
						}
						if(data.message.hasNextPage){
							old+='<span><span> <a href="javascript:void(0);" onclick="nextPage()">下一页&ensp;</a></span></span>'
						}
						old+='<span><a href="javascript:void(0);" onclick="lastPage()">尾页</a></span></div></center><center><div><span>当前第&ensp;'
						+ pageNum
						+'&ensp;页，共&ensp;'
						+ pages
						+'&ensp;页</span></div>';
					}
						$("#onMovies").html(old);		
					}else{
						alert('err back')
					}
				});
	}
	function lastPage(){
		pageNum = pages;
		$.get(
				action+pageNum,
				function(data) {
					if(data.success==true){
						pages = data.message.pages;
					var old = '';
					for(i in data.message.list){
						var item = data.message.list[i];
						if((item.movieRate + '').indexOf('.') == -1){
							item.movieRate+='.0';
						}
						old += '<a href="today_list.html?movieId='
						+ item.movieId
						+'" type="" about="" class="aui-flex b-line"><div class="aui-film-img"><img src="'
						+ item.movieImage
						+ '" alt=""></div><div class="aui-flex-box"><h1>'
						+ item.movieName
						+'</h1><h2>豆瓣评分 <em>'
						+ item.movieRate
						+'</em></h2><h3>导演：'
						+ item.director
						+'</h3><h3>主演：'
						+ item.actor
						+'</h3></div><div class="aui-film-button"><button>购票</button></div></a>';
					}
					if(data.message.pages==1){
		
					}else{
						old+='<h3>&ensp;</h3><center><div class="scott"><span class="disabled"></span><span><a href="javascript:void(0);" onclick="firstPage()">首页</a></span>';
						if(data.message.hasPreviousPage){
							old+='<span><span> <a href="javascript:void(0);" onclick="previousPage()">上一页&ensp;</a></span></span>'
						}
						if(data.message.hasNextPage){
							old+='<span><span> <a href="javascript:void(0);" onclick="nextPage()">下一页&ensp;</a></span></span>'
						}
						old+='<span><a href="javascript:void(0);" onclick="lastPage()">尾页</a></span></div></center><center><div><span>当前第&ensp;'
						+ pageNum
						+'&ensp;页，共&ensp;'
						+ pages
						+'&ensp;页</span></div>';
					}
						$("#onMovies").html(old);		
					}else{
						alert('err back')
					}
				});
	}
</script>
</head>

<body>


    <section class="aui-flexView" data-ydui-tab>
        <header class="aui-navBar aui-navBar-fixed">
            <ul class="tab-nav b-line">
                <li class="tab-nav-item tab-active">
                    <a href="javascript:;">
                        <span>正在热映</span>
                    </a>
                </li>
                <li class="tab-nav-item">
                    <a href="javascript:;">
                        <span>即将上映</span>
                    </a>
                </li>
            </ul>
        </header>
        <section class="aui-scrollView">
            <div class="tab-panel">
                <div class="tab-panel-item tab-active" id="onMovies">
                </div>
                
                <div class="tab-panel-item" id="offMovies">
                   
                </div>
            </div>
            <div style="height:55px;"></div>
        </section>

    </section>

<div class="fbox"></div>
<div class="footbox">
  <div class="footer">
    <ul>
      <li style="width:33%">
        <a href="index.html">
          <img src="images/f01.png" />
          <p>首页</p>
        </a>
      </li>
      <li  class="on" style="width:33%">
        <a href="find.html">
          <img src="images/f2.png" />
          <p>发现</p>
        </a>
      </li>
      <li style="width:33%">
        <a href="my.html">
          <img src="images/f04.png" />
          <p>我的</p>
        </a>
      </li>
    </ul>
  </div>
</div>
</body>
</html>
