<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta name="renderer" content="webkit"/>
<meta name="force-rendering" content="webkit"/>
<script>/*@cc_on window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/</script>
<title></title>
<link type="text/css" rel="stylesheet" href="css/style.css" />
<script src="/login/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
	var action = "/getUserInfo";
	$.get(
					action,
					function(data) {
						var user_info = data;
						var old = '';
						if (user_info.success == true) {
							old = '<div class="conboxL"><img src="images/tx.png" class="tt"/><div class="btR"><p class="p1">'
								+ user_info.message.userTel
								+'</p></div></div><div class="conboxR"><a href="javascript:void(0);" onclick="logout()">退出登录</a></div><div class="clear"></div>';
							
						} else {
							old = '<h2>&ensp;</h2><center><a href="login.html"><h1><font color="white">登录/注册</font></h1></a></center>';
						}
						$("#userInfo").html(old);
					});
</script>
</head>

<body>
<div class="m0myheader">
  <div class="conbox" id="userInfo">
  </div>
  <div class="conbox2">
    <ul>
    </ul>
  </div>
</div>
<div class="clear"></div>
<div class="kbox"></div><div class="kbox"></div>
<div class="clear"></div>


<div class="kbox"></div><div class="kbox"></div>
<div class="clear"></div>
<div class="mypart4">
  <img src="images/my15.png" />
</div>
<div class="likebox my">
  <ul>
   
  </ul>
</div>
<div class="clear"></div>
<div class="fbox"></div>
<div class="footbox">
  <div class="footer">
    <ul>
      <li style="width:33%">
        <a href="index.html">
          <img src="images/f01.png" />
          <p>首页</p>
        </a>
      </li>
      <li style="width:33%">
        <a href="find.html">
          <img src="images/f02.png" />
          <p>发现</p>
        </a>
      <li style="width:33%">
      <li class="on">
        <a href="my.html">
          <img src="images/f4.png" />
          <p>我的</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<script>
		function logout() {
			var url = '/logout';
			$.get(url, function(data) {
				if (data.success==true) {
					window.location.reload();
				}
				if (data.success==false) {
					alert(data.message);
				}
			});
		};
</script>
</body>
</html>
