<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta name="renderer" content="webkit"/>
<meta name="force-rendering" content="webkit"/>
<script>/*@cc_on window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/</script>
<title></title>
<link type="text/css" rel="stylesheet" href="../static/css/style.css" />
</head>

<body>
<div class="m0myheader">
  <div class="conbox">
    <div class="conboxL">
      <img src="../static/images/tx.jpg" class="tt"/>
      <div class="btR">
        <p class="p1">越活越回漩</p>
        <div class="v1">
          <img src="../static/images/mmm.png" />
          <p>编辑个人资料></p>
        </div>
      </div>
    </div>
    <div class="conboxR">
       <a href="shezhi.html">退出登录</a>
    </div>
    <div class="clear"></div>
  </div>
  <div class="conbox2">
    <ul>
    </ul>
  </div>
</div>
<div class="clear"></div>
<div class="kbox"></div><div class="kbox"></div>
<div class="clear"></div>


<div class="kbox"></div><div class="kbox"></div>
<div class="clear"></div>
<div class="mypart4">
  <img src="../static/images/my15.png" />
</div>
<div class="likebox my">
  <ul>
   
  </ul>
</div>
<div class="clear"></div>
<div class="fbox"></div>
<div class="footbox">
  <div class="footer">
    <ul>
      <li style="width:33%">
        <a href="index.html">
          <img src="../static/images/f01.png" />
          <p>首页</p>
        </a>
      </li>
      <li style="width:33%">
        <a href="find.html">
          <img src="../static/images/f02.png" />
          <p>发现</p>
        </a>
      <li style="width:33%">
      <li class="on">
        <a href="my.html">
          <img src="../static/images/f4.png" />
          <p>我的</p>
        </a>
      </li>
    </ul>
  </div>
</div>
</body>
</html>
