<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta name="renderer" content="webkit"/>
<meta name="force-rendering" content="webkit"/>
<script>/*@cc_on window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/</script>
<title></title>
<link type="text/css" rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="js/tab.js"></script>
</head>

<body style="background:#fff">
<div class="headerbox">
  <div class="header">
    <div class="headerL">
      <a href="index.html" class="goback"><img src="images/goback.png" /></a>
    </div>
    <div class="headerC0">
      <div class="ssdiv">
        <input name="" type="text" placeholder="找影视剧"/>
        <a href="#.html"><img src="images/ss.png" /></a>
      </div>
    </div>
    <div class="headerR">
      <a href="javascript:void(0);" onclick="/search()">查找</a>
    </div>
  </div>
</div>
<h1>&ensp;</h1><h1>&ensp;</h1>
       <section class="aui-scrollView">
            <div class="tab-panel" id="results">
                <div class="tab-panel-item tab-active">
                    <a href="" type="" about="" class="aui-flex b-line">
                        <div class="aui-film-img">
                            <img src="images/film-ad-001.jpg" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h1>流浪地球</h1>
                            <h2>豆瓣评分 <em>9.5</em></h2>
                            <h3>导演:李嘉桦</h3>
                            <h3>主演:无言 曲龙 李小萌</h3>
                        </div>
                        <div class="aui-film-button">
                            <button>购票</button>
                        </div>
                    </a>
                </div>
            </div>
            <div style="height:55px;"></div>
        </section>
        
</body>
</html>
