<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta name="renderer" content="webkit"/>
<meta name="force-rendering" content="webkit"/>
<script>/*@cc_on window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/</script>
<title></title>
<link type="text/css" rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="js/tab.js"></script>
<script src="js/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
function sender(){
	var movieName = document.getElementById("movieName").value;
	var action = "/searchMovie?input="+movieName;
	$.get(
			action,
			function(data) {
				if(data.success==true){
					var old = '';
					if(data.message==null||data.message==''){
						old='<center>没有查询到任何结果</center>';
					}else{
				for(i in data.message){
					var item = data.message[i];
					if((item.movieRate + '').indexOf('.') == -1){
						item.movieRate+='.0';
					}
					old += '<a href="today_list.html?movieId='
					+ item.movieId
					+'" type="" about="" class="aui-flex b-line"><div class="aui-film-img"><img src="'
					+ item.movieImage
					+ '" alt=""></div><div class="aui-flex-box"><h1>'
					+ item.movieName
					+'</h1><h2>豆瓣评分 <em>'
					+ item.movieRate
					+'</em></h2><h3>导演：'
					+ item.director
					+'</h3><h3>主演：'
					+ item.actor
					+'</h3></div><div class="aui-film-button"><button>购票</button></div></a>';
				}
					}
					$("#results").html(old);	
				}else{
					alert("err back");
				}
			});
}
</script> 
</head>

<body style="background:#fff">
<div class="headerbox">
  <div class="header">
    <div class="headerL">
      <a href="index.html" class="goback"><img src="images/goback.png" /></a>
    </div>
    <div class="headerC0">
      <div class="ssdiv">
        <input id="movieName" type="text" placeholder="找影视剧"/>
        <a href="#" onclick="sender()"><img src="images/ss.png" /></a>
      </div>
    </div>
    <div class="headerR">
      <a href="#" onclick="sender()">查找</a>
    </div>
  </div>
</div>
<h1>&ensp;</h1><h1>&ensp;</h1>
       <section class="aui-scrollView">
            <div class="tab-panel">
                <div class="tab-panel-item tab-active" id="results">
                </div>
            </div>
            <div style="height:55px;"></div>
        </section> 
</body>
</html>
